ion-grid{
    background-color: blue;
}
ion-grid ion-row{
    background-color: brown;
    padding: 1rem;
}
.col1{
    background-color: green;
    margin-top: 1rem;
}
.col2{
    background-color: rgb(255, 187, 0);
    margin-top: 1rem;
}
ion-title{
    background-color: aqua;
    color: black;
}
ion-label{
    background-color: blueviolet;
}
