<ion-header [translucent]="true">
  <ion-toolbar>
  <!-- <ion-title>Ejercicio 5</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row>

      <ion-col size-xs="12" size-lg="6" class="col1">

        <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Iglesia"></ion-img>

      </ion-col>

      <ion-col size-xs="6" size-lg="12" class="col2">

        <ion-title>IGLESIA</ion-title>

        <ion-label>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          A voluptatum laborum, nobis nisi odit, dolorum necessitatibus iure
           adipisci odio unde velit ipsum veritatis recusandae! 
           Illum suscipit deleniti distinctio dolore excepturi?
        </ion-label>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
